@use "../../style/colors.scss" as *;

.portfolio-modal {
  width: 800px;
  position: relative;
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &__table {
    width: 100%;
    &__header {
      text-align: center;
      &__number {
        text-align: left;
      }
      &__name {
        text-align: left;
      }
    }
    &__body {
      text-align: center;
      &__number {
        text-align: left;
      }
      &__name {
        text-align: left;
        &-short {
          font-weight: 600 !important;
        }
      }
    }
  }
}

.portfolio-modal__empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 14px;
}

.portfolio-modal__table__body__actions {
  display: flex;
  justify-content: center;
}

.portfolio-modal__table__body__crypto-name {
  display: none;
  font-weight: 600;
}

@media (max-width: 768px) {
  .portfolio-modal__table__body__rank,
  .portfolio-modal__table__header__rank,
  .portfolio-modal__table__body__percent-change,
  .portfolio-modal__table__header__percent-change {
    display: none;
  }
}

@media (max-width: 550px) {
  .portfolio-modal__table__body__price-change,
  .portfolio-modal__table__header__price-change {
    display: none;
  }
}

@media (max-width: 450px) {
  .portfolio-modal__table__body__actions,
  .portfolio-modal__table__header__actions {
    display: none;
  }
}

@media (max-width: 375px) {
  .portfolio-modal__table__body__amount,
  .portfolio-modal__table__header__amount,
  .portfolio-modal__controls__sum {
    display: none;
  }
  .portfolio-modal__controls__update {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .portfolio-modal__table__body__name-card {
    display: none;
  }
  .portfolio-modal__table__body__name-short {
    display: flex !important;
  }
}
