@import "../../style/colors.scss";

.input__container {
  &__label {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }

  &__base {
    position: relative;
    &__icon {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      top: 0;
      opacity: 1;
      transition: all 0.3s ease;
      left: 12px;
      color: $input-placeholder;
    }
    &--with-icon {
      padding-left: 36px;
    }
  }
  input,
  select {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid $gray-3;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      transition: all 0.3s ease;
      border: 1px solid $input-focus-outline;
      padding-left: 16px;
    }
    &::placeholder {
      color: $input-placeholder;
    }
    &:focus + .input__container__base__icon {
      transition: all 0.3s ease;

      opacity: 0;
      left: 0;
      transition: all 0.3s ease;
    }
  }
}
