@import "./../../style/colors.scss";

.cryptocurrency-component {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 14px;
  &__icon {
    margin-right: 4px;
    img {
      width: auto;
      height: 25px;
    }
  }
  &__info {
    &__name {
      font-weight: 500;
    }
    &__symbol {
      font-size: 0.8rem;
      color: $text-neutral;
    }
  }
}
