@use "./../../style/colors.scss" as *;

.crypto-card {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 4px;
    img {
      -webkit-user-drag: none;
      width: auto;
      height: 25px;
    }
  }
  &__info {
    &__name {
      font-weight: 500;
    }
    &__symbol {
      font-size: 0.8rem;
      color: $text-neutral;
    }
  }
}
