@import "../../style/colors.scss";

.header {
  width: 100%;
  padding: 8px 16px;
  background-color: $header-bg-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &__portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__element {
      display: flex;
      align-items: center;
      margin: 4px 0px;
      font-size: 0.95rem;
      > div {
        margin-right: 4px;
      }
      &__name {
        font-weight: 600;
      }
      &__logo {
        display: flex;
        align-items: center;
        img {
          height: 20px;
          width: auto;
        }
      }
    }
  }
  &__logo {
    img {
      height: 40px;
      width: auto;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__icon {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .header__portfolio__element__name {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__portfolio__element__percent-change {
    display: none;
  }
}

@media (max-width: 550px) {
  .header__portfolio__element__price-change {
    display: none;
  }
}

@media (max-width: 425px) {
  .header__links {
    &__button {
      display: none;
    }
    &__icon {
      display: flex !important;
    }
  }
}

@media (max-width: 375px) {
  .header {
    grid-template-columns: 1fr 1fr;
    &__logo {
      display: none;
    }
  }
}
