@use "./colors.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
}

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
