$dark-0: #c1c2c5;
$dark-1: #a6a7ab;
$dark-2: #909296;
$dark-3: #5c5f66;
$dark-4: #373a40;
$dark-5: #2c2e33;
$dark-6: #25262b;
$dark-7: #1a1b1e;
$dark-8: #141517;
$dark-9: #101113;

$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

$link-color: #6ab5db;
$link-hover-color: #9ccee7;
$bg-color: $gray-2;
$header-bg-color: $gray-0;

$text-positive: #37b24d;
$text-negative: #f03e3e;
$text-regular: $dark-9;
$text-neutral: $dark-2;

$button-regular: rgb(231, 245, 255);
$button-regular-hover: #e1f2ff;

$button-outline: #99c5f3;
$button-outline-hover: #f7fbff;

$input-focus-outline: #128ce2;
$input-placeholder: #acb5bd;

$chart-positive-fill: #69db7c;
$chart-positive-stroke: #40c057;

$chart-negative-fill: #ff8787;
$chart-negative-stroke: #fa5252;
