@use "../../style/colors.scss" as *;

button {
  border: none;
  padding: 0px 1.125rem;
  height: 2.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--regular {
  color: #228be6;
  background-color: $button-regular;
  &:hover {
    background-color: $button-regular-hover;
  }
}

.button--outline {
  color: #228be6;
  background-color: transparent;
  outline: 2px solid $button-outline;
  &:hover {
    background-color: $button-outline-hover;
  }
}
