@use "../../style/colors.scss" as *;

.crypto-list {
  width: 1100px;
  margin: 16px auto;
  table {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .crypto-list__element__vwap,
  .crypto-list__element__supply,
  .crypto-list__th__supply,
  .crypto-list__th__vwap {
    display: none;
  }
  .crypto-list {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .crypto-list__element__market-cap,
  .crypto-list__element__volume,
  .crypto-list__th__volume,
  .crypto-list__th__market-cap {
    display: none;
  }

  .crypto-list__element__change,
  .crypto-list__th__change {
    text-align: right;
  }
}

@media (max-width: 600px) {
  .crypto-list__element__rank,
  .crypto-list__th__rank {
    display: none;
  }
}

@media (max-width: 375px) {
  .crypto-list__element__change,
  .crypto-list__th__change {
    display: none;
  }
}

@media (max-width: 320px) {
  .crypto-list__element__action,
  .crypto-list__th__action {
    display: none !important;
  }
}
