@import "../../style/colors.scss";

.crypto-list {
  width: 1100px;
  margin: 16px auto;
  background-color: $gray-1;
  border-radius: 4px;
  border-spacing: 0;
  th,
  td {
    padding: 12px;
  }
  td {
    background-color: $gray-0;
  }

  .crypto-list_element {
    &-name {
      display: flex;
      align-items: center;
      &-value {
        font-weight: 500;
      }
      &-short {
        font-size: 0.8rem;
        color: $text-neutral;
      }
      &-icon {
        margin-right: 4px;
        img {
          width: auto;
          height: 25px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .crypto-list_element-vwap,
  .crypto-list_element-supply,
  .th-supply,
  .th-vwap {
    display: none;
  }
  .crypto-list {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .crypto-list_element-market-cap,
  .crypto-list_element-volume,
  .th-volume,
  .th-market-cap {
    display: none;
  }

  .crypto-list_element-change,
  .th-change {
    text-align: right;
  }
}

@media (max-width: 600px) {
  .crypto-list_element-rank,
  .th-rank {
    display: none;
  }
}
