@use "../../style/colors.scss" as *;

.portfolio__modal__table__body__actions {
  display: flex;
  justify-content: center;
}

.portfolio__modal__table__body__crypto-name {
  display: none;
  font-weight: 600;
}

@media (max-width: 800px) {
  .portfolio__modal__table__header__number,
  .portfolio__modal__table__body__number {
    display: none;
  }
}

@media (max-width: 768px) {
  .portfolio__modal__table__header__amount,
  .portfolio__modal__table__body__amount {
    display: none;
  }
}

@media (max-width: 650px) {
  .portfolio__modal__table__header__percent,
  .portfolio__modal__table__body__percent {
    display: none;
  }
  .portfolio__modal__content {
    max-width: 95%;
  }
}

@media (max-width: 550px) {
  .portfolio__modal__table__header__price-change,
  .portfolio__modal__table__body__price-change {
    display: none;
  }
}

@media (max-width: 450px) {
  .portfolio__modal__table__header__actions,
  .portfolio__modal__table__body__actions {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .portfolio__modal__table__body__crypto-card {
    display: none;
  }
  .portfolio__modal__table__body__crypto-name {
    display: flex;
  }
}
