@import "../../style/colors.scss";

@media (max-width: 768px) {
  .portfolio_modal_table_header-number,
  .portfolio_modal_table_body-number {
    display: none;
  }
}

@media (max-width: 600px) {
  .portfolio_modal_table_header-percent,
  .portfolio_modal_table_body-percent {
    display: none;
  }
  .portfolio-modal_content {
    max-width: 95%;
  }
}

@media (max-width: 450px) {
  .portfolio_modal_table_header-actions,
  .portfolio_modal_table_body-actions {
    display: none;
  }
}

@media (max-width: 320px) {
  .portfolio_modal_table_header-price-change,
  .portfolio_modal_table_body-price-change {
    display: none;
  }
}
